:root {
	--intro-slide-color: #111111;
	--top-menu-height: 60px;
}
/* {
	outline:1px solid green;
}*/
body {
	background-color: black;
	margin: 0;
}

#staryBackgroundCanvas {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -999;
	background: black;
}

.main-body {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
}

/*Intro-page styles*/
.intro-page {
	z-index: 9999;
}

.intro-page .intro-slide {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;
	bottom: 0;
	transition: transform 0.5s;
	transition-timing-function: ease-in-out;
	background-color: var(--intro-slide-color);
}

.intro-page .slide-left {
	left: 0;
	transform-origin: left;
}

.intro-page .slide-right {
	right: 0;
	transform-origin: right;
}

.intro-page .intro-logo {
	position: relative;
	z-index: 10;
	color: white;
	width: 100%;
	text-align: center;
	transition: transform 0.5s, opacity 0.5s;
}

.intro-page .intro-logo img {
	width: 128px;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 3px solid rgba(255, 255, 255, 0.3);
	box-shadow: var(--shadow);
}

.intro-page .intro-logo {
	font-size: 25px;
	font-family: oswald;
}

/*Home page styles*/
.home-page {
	transform: translateY(-100%);
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 100;

	/*opacity: 0;*/
	transition: transform 0.3s , opacity 0.3s;
}

.home-page .home-title {
	width: 100%;
	color: white;
	text-align: center;
	font-size: 35px;
	font-family: oswald;
	margin-top: 80px;
	letter-spacing: 2px;
	margin-bottom: 80px;
}


.home-page .cards-cont {
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.home-page .home-page-card {
	display: block;
	background-color: rgba(24, 24, 24, 0.8);
	width: 90%;
	margin: 10px auto;
	border-radius: 8px;
	box-shadow: var(--shadow);
	height: 120px;
	overflow: hidden;
	border: 3px solid rgba(200, 200, 200, 0.1);
	position: relative;
	margin-bottom: 25px;
	transition: transform 0.4s, opacity 0.4s;
}

.home-page-card .thumbnail {
	position: absolute;
	top: 0;
	width: 120px;
	height: 120px;
	background: black;
}

.home-page-card[dir=left] .thumbnail {
	left: 0;
	border-right: 3px solid #282828;
}


.home-page-card .thumbnail img {
	height: 80%;
}

.home-page-card .details {
	position: absolute;
	top: 0;
	left: 120px;
	width: calc(100% - 120px);
	height: 100%;
	color: white;
	padding: 10px;
}

.home-page-card .details label {
	width: 100%;
	display: block;
	font-family: oswald;
	font-size: 18px;
}

.home-page-card .details p {
	width: 100%;
	display: block;
	margin: 0px;
	padding: 8px 0px;
	overflow: scroll;
	font-family: roboto;
	font-weight: 100;
}

.home-page-card[dir=right] .thumbnail {
	position: absolute;
	right: 0;
	border-left: 3px solid #282828;
}

.home-page-card[dir=right] .details {
	left: 0px;
	width: calc(100% - 120px);
}

.home-page-card[dir=right] .details label {
	text-align: right
}

.home-page-card[dir=right] .details p {
	text-align: right
}

/*Gobal window-page style*/
.window-page {
	display: none;
	opacity: 0;
	transform: translateX(100%)
}
.window-page .heading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--top-menu-height);
	background: #111111;
	box-shadow: var(--shadow);
	border-bottom: 3px solid rgba(40, 40, 40, 0.3);
	display: flex;
	align-items: center;
}

.window-page .heading a {
	height: 100%;
	width: var(--top-menu-height);
	margin: 6px 0px 10px 0px;
}

.window-page .heading a img {
	height: 60%;
}

.window-page .heading label {
	font-family: oswald;
	color: white;
	font-size: 24px;
	margin-left: 6px;
}

.window-page .content {
	position: absolute;
	top: var(--top-menu-height);
	left: 0;
	width: 100%;
	height: calc(100% - var(--top-menu-height));
	overflow-y: scroll;
	overflow-x: hidden;
}


/*Category-page styles*/
.category-page .main-cont {
	background-color: rgba(24, 24, 24, 0.8);
	width: 90%;
	margin: 10px auto;
	margin-top: 20px;
	border-radius: 8px;
	box-shadow: var(--shadow);
	border: 3px solid rgba(200, 200, 200, 0.1);
	position: relative;
	color:white;
	padding: 15px
}
.category-page .main-cont .title {
	font-family: oswald;
	font-size: 20px;
	display: block;
	margin-bottom: 20px;
}
.category-page .main-cont .description {
	font-family: roboto;
	margin: 0px;
	margin-bottom: 25px;
}
.category-page .main-cont .main-photo {
	float: right;
	width: 150px;
	margin:0px 0px 6px 6px;
	border-radius: 4px;
	border:2px solid #282828;
}
.category-page .main-cont hr {
	/*Adjusted for the padding of parent element*/
	position: relative;
	width:calc(100% + 30px);
	left:-15px;
	border:1.5px solid #282828;
	background: #282828;
	margin: 10px 0px;
}

.category-page .main-cont .secondary-cont {
	width: 100%;
}
.category-page .main-cont .secondary-cont .items-cont .item {
	width:90%;
	height:60px;
	background: #181818;
	position: relative;
	border:2px solid #292929;
	overflow: hidden;
	border-radius: 6px;
	margin:8px auto;
}
.category-page .main-cont .secondary-cont .items-cont .item .thumbnail {
	position: absolute;
	left:0;
	top:0;
	height: 60px;
	width: 60px;
	border-right: 2px solid #292929;
	background: black;
	transition: transform 0.2s;
}
.category-page .main-cont .secondary-cont .items-cont .item .thumbnail img {
	height: 80%;
}
.category-page .main-cont .secondary-cont .items-cont .item .item-name {
	position: absolute;
	left:60px;
	width:calc(100% - 120px);
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0px 15px;
	font-family: oswald;
	font-size: 20px;
	transition: transform 0.2s;
}
.category-page .main-cont .secondary-cont .items-cont .item .right-arrow-ic {
	position: absolute;
	right: 0;
	top:0;
	width:60px;
	height: 60px;
}
.category-page .main-cont .secondary-cont .items-cont .item .right-arrow-ic img{
	height: 45%;
}
.category-page .main-cont .secondary-cont .items-cont .item:hover .thumbnail{
	transform: translateX(-62px);
}
.category-page .main-cont .secondary-cont .items-cont .item:hover .item-name {
	transform: translateX(-55px);
}
